
 <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">knit</h1>
                        <p class="intro-text">Your best friends in one place<br>Created at Flatiron.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About knit</h2>
                <p>knit Combines social feeds from your favorite people. <a href="#">Your feed</a> shows everything you care about and nothing else</p>
            </div>
        </div>
    </section>