
<header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

						<h1>Add accounts here.</h1>

						<%= link_to 'facebook', '/auth/facebook', {class: "btn btn-default btn-lg"}%>
						<a href="#"></a>
						<%= link_to 'twitter', '/auth/twitter', {class: "btn btn-default btn-lg"}%>
						<a href="#"></a>
						<%= link_to 'instagram', '/auth/instagram', {class: "btn btn-default btn-lg"}%>

                    </div>
                </div>
            </div>
        </div>
</header>

