

 <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

						<h1>Add accounts here.</h1>

						<%= link_to 'facebook', '/auth/facebook'%>
						<a href="#">|</a>
						<%= link_to 'twitter', '/auth/twitter'%>
						<a href="#">|</a>
						<%= link_to 'instagram', '/auth/instagram'%>

                    </div>
                </div>
            </div>
        </div>
    </header>
