<h1>this is the settings page, word up</h1>

<%= link_to 'facebook', '/auth/facebook'%>
<a href="#">|</a>
<%= link_to 'twitter', '/auth/twitter'%>
<a href="#">|</a>
<%= link_to 'instagram', '/auth/instagram'%>