<header class="content">
  <div class="intro-body">
    <div class="container-fluid">
      <div class="row feed">
          <div class="grid">

              <% if @posts %>
               <!--  <h2 class="text-center">Latest posts: </h2>  -->
                      <% @posts.each do |post|%>
                        <div class="grid-item">
                             <div class="node" >
                              <%= image_tag(post[:photo_uri], {class: "center-block img-responsive"}) %> <br>
                              <a href="<%=post[:uri] %>">@<%= post[:handle] %> </a> <br>
                              <h4><%= post[:text] %></h4>
                            </div>
                        </div> <!-- grid item end -->
                      <% end %> 
                    <br>    
                <% else %>
                <h1>You're not following anyone. <a href="#"> Add friends!</a></h1>
                <% end %> <!-- end if @posts -->
          </div> <!-- grid end -->

      </div>
    </div>
  </div>
</header>