
.node{
	padding: 15px;
	border:1px solid white;
	vertical-align: top;
	margin: 10px;
}


.feed{
	margin-top: 150px;
}

.btn-default.disabled{
  background-color: transparent;
  color: #AAA;
  border-color: #AAA;
  opacity: .6;
} 


.grid-item {
	width: 425px; 
}

#move-up{
	padding-top: -50px;
}