
.node{
	padding: 20px;
	border:1px solid white;
	vertical-align: top;
	margin-top: 30px;
}


.feed{
	margin-top: 150px;
}

.btn-default.disabled{
  background-color: transparent;
  color: #AAA;
  border-color: #AAA;
  opacity: .6;
} 
